<div class="ui header center aligned">Delete Meeting</div>
<div class="ui text container">
  <form method="POST"action="/meetings/<%= meeting.id %>/delete/?_method=DELETE" class="ui form">  
    
    <div class="content">

      <h1>Delete this meeting?</h1>
      
      <div class="ui hidden divider"></div>
    </div>
    <div class="actions">

      <button class="ui positive labeled icon button" type="submit">Confirm</button>
    </div>
  </form>
</div>