<header>
<div class="ui borderless small menu stackable" id="menu">
  <div class="left menu">
    <% if (currentUser) { %>
      <h1 class="item" id="titleHeader">
        RENDEZVOUS
        <i class="handshake icon" id="icon"></i>
      </h1>
      <a class="item navButton" href="/meetings/calendar">Calendar</a>
      <a class="item navButton" href="/meetings/index">Meetings</a>
      <a class="item modal-toggle navButton" href="#" value="New">New Meeting</a>
      <% } %>
  </div>
      
  <div class="right menu">
    <% if (!currentUser) { %>
      <div class="item"><a href="/auth/signup"><div class="ui primary button">Sign Up</div></a></div>
      <div class="item"><a href="/auth/login"><div class="ui secondary button">Log In</div></a></div>
    <% } else { %>
      <div class="item"><a href="/auth/logout"><div class="ui primary button">Log Out</div></a></div>
    <% } %>
  </div>
</div>
</header>

<div class="ui modal" id="meetingNew"><%-include("./new")%></div>