<header>
  <nav>
    <ul>
      <% if (!currentUser) { %>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <% } else { %>
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/meetings/index">Meetings</a></li>
          <li><a href="#" id="newMeeting">New Meeting</a></li>
          <% } %>
    </ul>
  </nav>
</header>

<div class="ui modal"><%-include("./new")%></div>