<h2>Create a New Meeting</h2>
<form method=""action="/profile/meeting/new">
  <div>
    <label for="provider">Provider</label>
    <!-- <select> WIP -->
    <select name="" id=""></select>
  </div>
  <div>
    <label for="url">Url</label>
    <input type="url" id="url" name="url" required>
  </div>
  <div class="ui calendar" id="standard_calendar">
    <div class="ui input left icon">
      <i class="calendar icon"></i>
      <input type="text" placeholder="Date/Time" id="dateTime">
    </div>
  </div>
  <div>
    <label for="private">Private</label>
    <input type="checkbox" id="private" name="private">
  </div>
  <div>
    <label for="recurring">Recurring</label>
    <!-- <select> WIP -->
    <select name="" id=""></select>
  </div>
  <div>
    <label for="passcode">Passcode</label>
    <input type="text" id="passcode" name="passcode" required>
  </div>
  <div>
    <label for="notes">Notes</label>
    <input type="text" id="notes" name="notes" required>
  </div>
  <div>
    <label for="category">Categories</label>
    <input type="text" id="category" name="category" required>
  </div>
</form>