<div class="ui header center aligned">Create a New Meeting</div>
<div class="ui container" id="newMeetingFormDiv">
  <form method="POST"action="/meetings/new" class="ui form">  
    
    <div class="field">
      <label for="notes">Title</label>
      <input type="text" id="notes" name="notes" required>
    </div>
    
    <div class="two fields">
      
      <div class="field">
        <label>Date & Time</label>
        <div class="ui calendar" id="calendarNew">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Date/Time" id="dateTime" name="dateTime" autocomplete="off">
          </div>
        </div>
      </div>

      <div class="field">
        <label for="recurring">Recurring</label>
        <select class="ui selection dropdown" name="recurring" id="recurring">
          <option value=null>Not Recurring</option>
          <option value="daily">Daily</option>
          <option value="weekly">Weekly</option>
          <option value="biweekly">Biweekly</option>
          <option value="monthly">Monthly</option>
        </select>
      </div>

    </div>

    <div class="two fields">
     
      <div class="field">
        <label for="provider">Provider</label>
        <select class="ui selection dropdown" name="provider" id="provider">
          <option value="zoom">Zoom</option>
          <option value="hangouts">Google Hangouts</option>
          <option value="skype">Skype</option>
          <option value="webex">Cisco Webex</option>
          <option value="joinme">Join.me</option>
        </select>
      </div>
      
      <div class="field">
        <label for="category">Categories</label>
        <div class="ui clearable multiple selection dropdown">
          <input type="hidden" name="category" id="category">
          <i class="dropdown icon"></i>
          <div class="default text">Select One or More Categories</div>
          <div class="menu">
            <div class="item">School</div>
            <div class="item">Work</div>
            <div class="item">Fun</div>
            <div class="item">Social</div>
            <div class="item">Gaming</div>
            <div class="item">Interview</div>
          </div>
        </div>
      </div>

    </div>
    
    <div class="fields">
    
      <div class="four wide field">
        <label for="passcode">Passcode</label>
        <input type="text" id="passcode" name="passcode">
      </div>

      <div class="twelve wide field">
        <label for="url">URL</label>
        <input type="url" id="url" name="url" required>
      </div>
      
    </div>
  
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" id="private" name="private">
        <label for="private">Private Meeting</label>
      </div>
    </div>

    <button class="ui button primary" type="submit">Submit</button>
  </form>
</div>