<div class="ui container center aligned" id="indexDiv">
  
  <h1 class="item" id="splash">
    RENDEZVOUS
  </h1>
  <i class="handshake icon" id="splashIcon"></i>

</div>

<div class="ui container center aligned" id="indexFooter">
  <p>Built by Luis Espinoza, Aaron Goldsmith & Howard Nguyen</p>
  <p><a href="https://github.com/luisaespinoza/Rendezvous">GitHub</a></p>
</div>