<div class="" id="#calendarDiv">
  <h2>Meetings Calendar</h2>
  <div>You have <%= userMeetings.length %> meetings.</div>
  <h3></h3>
  <div class="hidden" id="userMeetings">
    <% userMeetings.forEach(meeting => { %>
      <div data-title="<%= meeting.dataValues.notes %>" data-date="<%= meeting.dataValues.dateTime %>"></div>
    <% }) %>
  </div>

  <div class="ui calendar" id="inline_calendar">
  </div>
</div>