#newMeetingFormDiv, #editFormDiv, #deleteFormDiv {
  padding: 20px 20px;
}

#yourMeetingsDiv {
  padding: 2.5% 5%;
}

#logInFormDiv,#signUpFormDiv {
  padding-top: 15px;
}

#logInFormDiv label, #signUpFormDiv label, #newMeetingFormDiv label, #editFormDiv label{
  font-size: 11pt
}

#rendezvousIcon {
  padding-left: 10px
}

.authHeader {
  padding-top:2%
}

.navButton {
  font-size: 13pt;
}

#alerts {
  margin-top: 20px;
}