#newMeetingFormDiv, #editFormDiv {
  padding: 20px 20px;
}

#yourMeetingsDiv {
  padding: 2.5% 5%;
}

#logInFormDiv,#signUpFormDiv {
  padding-top: 15px;
}

#logInFormDiv label, #signUpFormDiv label, #newMeetingFormDiv label, #editFormDiv label{
  font-size: 11pt
}

#rendezvousIcon {
  padding-left: 10px
}

.authHeader, #profileDiv, #indexDiv {
  padding-top:2%
}

.navButton {
  font-size: 13pt;
}

#alerts {
  margin-top: 20px;
}

#meetingsThead {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

#deleteButton {
  margin: 0;
  padding: 10px;
}

#editButton {
  margin: 0;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 11px;
  padding-left: 11px;
}

#deleteIcon, #editIcon {
  margin:0;
  padding: 0;
}

#deleteMeetingHeader {
  font-size: 20pt;
  text-align: center;
}

#deleteMeetingForm {
  display: flex;
  justify-content: center;
}

#deleteFormDiv {
  padding: 30px 0px;
  margin: 0px 0px;
}